.contain{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba(151, 151, 151, 0.637);
    border-radius: 20px;
}

/*formulario*/

form{
    padding: 20px;
    text-align: center;
    contain: content;
}

.title{
    font-size: 1.7rem;
    font-weight: bold;
    color: #333;
}

label{
    font-size: 18px;
}

input{
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 60%;
    border: none;
    background-color: #333;
    color: #eee;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="submit"]{
    background: #1667aa;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all linear 0.2s;
}

input[type="submit"]:hover{
    background: rgb(0, 80, 43);
    box-shadow: 0 0 20px #1667aa;;
}

.back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.back a{
    border-radius: 20px;
    border-bottom: 2px solid #eee;
    border-right: 2px solid #eee;
    padding: 15px;
    background: #1667aa;
    text-decoration: none;
    font-size: 1.3rem;
    color: #eee;
    transition: all linear 0.2s;
}

.back a:hover{
    background: #333;
    color: #224fca;
    border-bottom: 2px solid #224fca;
    border-right: 2px solid #224fca;
}