*{
 margin: 0;
 padding: 0;   
}

body{
    background-image: url("../img/fondo.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*--------------------------------------------*/
/*Header y Navbar*/

header{
    width: 100%;
    contain: content;
    background: rgba(151, 151, 151, 0.315);
}

header nav{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #333;
    contain: content;
    align-items: center;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    padding: 2px;
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    background-color: #1667aa;
    color: #eee;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 30px;
    transition: all linear 0.2s;
}

header nav ul li a:hover{
    color: #fff;
    background: #292929;
    border: 1px solid #000;
    box-shadow: 3px 3px 10px #111;
}

.logo{
    width: 10%;
    contain: content;
    margin: 0 auto;
}

.logoNav{
    width: 100%;
}

.izq{
    width: 30%;
    /*position: relative;
    left: 280px;*/
    margin: 0 auto;
    font-size: 1.3rem;
}

.der{
    /*position: relative;
    top: 47px;
    left: 490px;*/
    margin: 0 auto;
}

.der a{
    padding: 7px;
    text-decoration: none;
    color: #111;
    background: #999;
    border-radius: 10px;
    transition: all linear 0.2s;
}

.der a:hover{
    color: #fff;
    background: #292929;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #111;
}
/* End navbar*/

/*Responsive Navbar*/

/*--------------------------------------------*/

/*Contenido*/

.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 45px;
    contain: content;
    background: rgba(151, 151, 151, 0.637);
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #888;
    box-shadow: 0 0 70px #1667aa;
}

.imagen{
    width: 50%;
    padding: 10px;
}

.img1{
    width: 65%;
    position: relative;
    left: 100px;
}

.text{
    width: 50%;
    padding: 30px;
}

/*Footer*/

footer{
    color: #eee;
    padding: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #333;
    font-size: 20px;
}

